body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: aquamarine;
}

main {
    background-color: aqua;
}

footer {
    background-color: paleturquoise;
    margin-top: auto;
}